body {
    margin : 0;
}

#game {
    position : absolute;
    left : 0;
    top : 0;
    width : 100%;
    height : 100%;
    background-color : rgb(30,30,30);
    font-family : Geo;
    color : rgb(200,200,100);
}

#game .screen {
    position : absolute;
    width : 100%;
    height : 100%;
    z-index : 10;
}

#game .screen.active {
    display : block;
}


#splash-screen {
    text-align : center;
    padding-top : 100px;
}
#splash-screen .continue {
    cursor : pointer;
    font-size : 30px;
}
.logo {
    font-family : Slackey;
    font-size : 60px;
    line-height : 60px;
    margin : 0;
    text-align : center;
    color : rgb(70,120,20);
    text-shadow : 1px 1px 2px rgb(255,255,0),
                  -1px -1px 2px rgb(255,255,0),
                  5px 8px 8px rgb(0,0,0);
}

.WORD {
    font-family : comic sans;
    font-size : 60px;
    line-height : 60px;
    margin : 0;
    text-align : center;
    color : rgb(70,120,20);
    text-shadow : 1px 1px 2px rgb(255,255,0),
                  -1px -1px 2px rgb(255,255,0),
                  5px 8px 8px rgb(0,0,0);
}


.no-textshadow .logo {
    filter : dropshadow(color=#000000,offX=3,offY=3);
}
