<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="/ahorcadoWeb/resources/css/main.css" rel="stylesheet" type="text/css" />
        <link href="/ahorcadoWeb/resources/css/fontfaces.css" rel="stylesheet" type="text/css" />
        <title>El Ahorcado</title>
    </h:head>

    <h:body>
        <div id="game" style="">
            <div class="screen" id="splash-screen">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>
    </h:body>

</html>
