<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template.xhtml">

            <ui:define name="content">
                <h:form>
                    <p:panelGrid columns="2">
                        <h:outputLabel value="Categoría" />
                        <h:selectOneMenu>
                            <f:selectItem itemValue="Animales" itemLabel="Animales" />
                            <f:selectItem itemValue="Ciudades" itemLabel="Ciudades" />
                            <f:selectItem itemValue="Colores" itemLabel="Colores" />
                            <f:selectItem itemValue="Paises" itemLabel="Paises" />
                        </h:selectOneMenu>
                    </p:panelGrid>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
