<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template.xhtml">

            <ui:define name="content">
                <h:form>
                    <p:dataTable value="${listarPalabraBean.servicio.palabras}"
                                 style="width: 50%"
                                 var="palabra">
                        <p:column headerText="Categoría">
                            <h:outputLabel value="${palabra.categoria}" />
                        </p:column>
                        <p:column headerText="Palabra">
                            <h:outputLabel value="${palabra.palabra}" />
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
