<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="./WEB-INF/template.xhtml">

            <ui:define name="content">
                <h1 class="logo">El Ahorcado</h1>
                <span class="continue">
                    <h:link outcome="jugar" value="INICIAR JUEGO" /><br />
                    <h:link outcome="palabras/listar" value="Ver palabras" />
                </span>
            </ui:define>

        </ui:composition>

    </body>
</html>
