<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./WEB-INF/template.xhtml">

            <ui:define name="content">
                <h:form>
                    <h1>Adivina la  palabra</h1>
                    <br />
                    <h1 class="logo">
                        <h:outputText id="palabraTxt" 
                                      value="${palabraBean.palabraEscondida}" />
                    </h1>
                    <br /><br /><br /> <!-- Tres saltos de linea. -->
                    <p:inputText id="letraTxt"
                                 disabled="${palabraBean.juegoTerminado}"
                                 value="${palabraBean.letra}" />
                    <br />

                    <p:commandButton value="Enviar" 
                                     disabled="${palabraBean.juegoTerminado}"
                                     actionListener="${palabraBean.adivinarPalabra}" 
                                     update="palabraTxt,letraTxt" />
            </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>

