<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./WEB-INF/template.xhtml">

            <ui:define name="content">
                <h:form>
                    <h:dataTable value="${listarPalabraBean.servicio.palabras}"
                                 var="palabra">
                        <h:column rowHeader="Categoría"><h:outputLabel value="${palabra.categoria}" /></h:column>
                        <h:column rowHeader="Palabra"><h:outputLabel value="${palabra.palabra}" /></h:column>
                    </h:dataTable>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
